body {
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(217, 222, 222)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginForm {
  text-align: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 300px;
}

.loginInput {
  padding: 10px;
}